html {
    height:100%;
}
body {
    position:absolute; 
    top:0;
    bottom:0; 
    right:0; 
    left:0; 
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 17px;
    letter-spacing: 5px;
    background-color: #F6F6F6;
}
.navbar-nav li a{
    color: #630A10 !important;
}
.navbar-nav  li a:hover {
    color: #a8262e !important;
    text-decoration:underline ;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    row-gap: 15px;
}

.logo{
    width: 30%;
}
.container{
    position: relative;
    height: auto !important; /* real browsers */
    min-height: 100%;
}
.footer{
    background-color: #911F27;
}
#nav_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#adminPWD{
    width: 250px;
}